.panel-content {
  margin: 0.8rem;
}

.grid-s {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0.8rem;
  justify-content: center;
  margin-bottom: 0.8rem;
}

@media (max-width: 200px) {
  .grid-s {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.grid-m {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 0.8rem;
  justify-content: center;
  margin-bottom: 0.8rem;
}

@media (max-width: 430px) {
  .grid-m {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.grid-l {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
  gap: 0.8rem;
  justify-content: center;
  margin-bottom: 0.8rem;
}

@media (max-width: 750px) {
  .grid-l {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.grid-full {
  display: grid;
  grid-template-columns: 100%;
  gap: 0.8rem;
  justify-content: center;
  margin-bottom: 0.8rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.5rem;
}

.card-compact {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.25rem;
}

.card-extra-compact {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.25rem;
}

mdui-card[variant="filled"] {
  background-color: rgba(var(--mdui-color-surface-container-highest), 0.75);
}

.card-title {
  font-size: larger;
  font-weight: bold;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

/* 样式覆盖 */
.animate__animated.animate__faster {
  animation-duration: 0.4s;
}

.hover-highlight {
  transition: background-color 0.3s;
  /* 添加过渡效果 */
}

.hover-highlight:hover {
  background-color: rgba(255, 255, 255, 0.05);
}