<div class="ae__view">
  <div style="display: flex;align-items: center;margin-bottom: 0.5rem;gap:0.5rem;">
    <mdui-button-icon icon="arrow_back" class="ae__view-back"></mdui-button-icon>
    <div style="font-weight: bold;font-size:large">查看 - <%= name %></div>
  </div>

  <div class="grid-full">
    <mdui-card class="card ae__view-cpus" variant="filled">
      <div style="display: flex;align-items: center;gap: 0.5rem;">

        <mdui-icon name="grid_on--outlined" style="font-size: 2rem;"></mdui-icon>

        <div>
          <div style="font-size: larger;white-space: nowrap;"><b><%= name %></b></div>
        </div>

        <mdui-divider vertical style="margin-left: 0.5rem;margin-right: 0.5rem;"></mdui-divider>

        <div>
          <div class="ae__view-time-updated" style="opacity: 1;">...</div>
          <div style="opacity: 0.25;font-size: smaller;"><%= uuid %></div>
        </div>

      </div>

      <div style="display: flex;flex-direction: column;gap: 0.25rem;margin-top: 0.25rem;">
        <div style="display: flex;opacity: 0.75;gap: 0.5rem;">
          <mdui-icon name="schedule"></mdui-icon>
          <div class="ae__view-time-created">...</div>
        </div>

        <div style="display: flex;opacity: 0.75;gap: 0.5rem;">
          <mdui-icon name="memory"></mdui-icon>
          <div class="ae__view-cpu-status"></div>
        </div>
      </div>


    </mdui-card>
  </div>

  <div class="grid-l">
    <mdui-card class="card" variant="filled">
      <div class="card-title">
        <mdui-icon name="memory" style="font-size: 32px;margin-right: 0.35rem;align-self: center;"></mdui-icon>
        <div style="text-align: center;">CPU</div>
      </div>

      <div class="ae__view-cpu-list" style="margin-top: 0.5rem;display: grid;grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));gap: 0.5rem;">
      </div>

      <mdui-card class="ae__view-cpu-list-nothing" style="display: none;margin-top: 0.5rem;padding: 0.75rem;">
        <div style="text-align: center;opacity: 0.5;margin-top: 0.75rem;margin-bottom: 0.75rem;">没有找到 CPU 信息</div>
      </mdui-card>

      <mdui-chip class="ae__view-cpu-list-more-button" elevated icon="keyboard_arrow_down" style="padding: 0.5rem;height: auto;">展开 CPU 列表...</mdui-chip>
      <mdui-chip class="ae__view-cpu-list-less-button" elevated icon="keyboard_arrow_up" style="display: none;padding: 0.5rem;height: auto;">收起 CPU 列表</mdui-chip>

    </mdui-card>


    <mdui-card class="card" variant="filled">
      <div class="card-title">
        <mdui-icon name="storage" style="font-size: 28px;margin-right: 0.5rem;align-self: center;"></mdui-icon>
        <div>库存</div>
      </div>

      <div style="display: flex;margin-top: 0.5rem;gap: 0.5rem;">
        <mdui-chip class="ae__view-storage-filter-button" selected filter="all" selected elevated icon="all_inclusive" selected-icon="all_inclusive">全部</mdui-chip>
        <mdui-chip class="ae__view-storage-filter-button" filter="item" elevated icon="category" selected-icon="category">物品</mdui-chip>
        <mdui-chip class="ae__view-storage-filter-button" filter="fluid" elevated icon="water_drop" selected-icon="water_drop">流体</mdui-chip>
        <mdui-chip class="ae__view-storage-filter-button" filter="vis" elevated icon="auto_awesome" selected-icon="auto_awesome">源质</mdui-chip>
      </div>

      <mdui-text-field class="ae__view-storage-filter-search-input" label="检索库存..."></mdui-text-field>

      <div style="display: flex;margin-top: 0.5rem;gap: 0.5rem;margin-bottom: 0rem;align-items: center;">
        <mdui-chip class="ae__view-storage-filter-craftable-button" elevated icon="settings_suggest" selected-icon="settings_suggest">库存/可合成</mdui-chip>
        <mdui-chip class="ae__view-storage-filter-sort-button" elevated icon="sort" selected-icon="settings_suggest">数量排序 ↓</mdui-chip>
      </div>

      <mdui-card class="ae__view-item-list" style="display: grid;padding: 0.75rem;grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));gap: 0.25rem;">
      </mdui-card>

      <mdui-card class="ae__view-item-list-nothing" style="display: none;padding: 0.75rem;">
        <div style="text-align: center;opacity: 0.5;margin-top: 0.75rem;margin-bottom: 0.75rem;">没有找到符合条件的物品</div>
      </mdui-card>

      <mdui-chip class="ae__view-item-list-more-button" elevated icon="keyboard_arrow_down" style="padding: 0.5rem;height: auto;">显示更多...</mdui-chip>

    </mdui-card>

  </div>

  <data hidden uuid="<%= uuid %>"></data>

</div>

