<span slot="headline">Oni Settings</span>
<span slot="description">
  <mdui-text-field label="Token" id="text-field-settings-token"></mdui-text-field>
</span>
<mdui-button variant="outlined" id="button-settings-discard">取消</mdui-button>
<mdui-button variant="filled" id="button-settings-apply">保存</mdui-button>