<div id="ae__content" class="panel-content" hidden>


  <div class="grid-m">

    <mdui-card class="card-extra-compact" variant="filled">
      <div class="ae-core-card-title">
        <mdui-icon name="download_done"></mdui-icon>
        &nbsp;&nbsp;
        <div>
          <div>CPU 13 <span style="opacity: 0.7">- "Endless night"</span></div>
          <div style="font-weight: normal;font-size: .8rem;opacity: 0.5">空闲</div>
        </div>
      </div>
    </mdui-card>

    <mdui-card class="card-extra-compact" variant="filled">
      <div class="ae-core-card-title">
        <mdui-icon name="download_done"></mdui-icon>
        &nbsp;&nbsp;
        <div>
          <div>CPU 14 <span style="opacity: 0.7">- "Baby prayer"</span></div>
          <div style="font-weight: normal;font-size: .8rem;opacity: 0.5">空闲</div>
        </div>
      </div>
    </mdui-card>

    <mdui-card class="card-extra-compact" variant="filled">
      <div class="ae-core-card-title">
        <mdui-icon name="settings_suggest"></mdui-icon>
        &nbsp;&nbsp;
        <div>
          <div>CPU 15 <span style="opacity: 0.7">- "ARROW RAIN"</span></div>
          <div style="font-weight: normal;font-size: .8rem;opacity: 0.5">合成中 · 59 分钟</div>
        </div>
      </div>
      <div style="margin-top: .5rem;margin-bottom: .5rem;"><b>Electric Motor (UHV)</b> - 278 / 400</div>

      <div style="display: flex;align-items: center;">
        <div style="opacity: 0.5;">69%&nbsp;&nbsp;</div>
        <mdui-linear-progress value="69" max="100"></mdui-linear-progress>
      </div>
    </mdui-card>

  </div>

  <mdui-list-item style="display: flex;" icon="keyboard_arrow_down" rounded>展开 CPU 列表
  </mdui-list-item>

  <div style="margin-bottom: 4rem;"></div>

  <mdui-tabs value="tab-1" placement="bottom-start" style="bottom: 0;left: 0;position: absolute;width: 100%;white-space: nowrap;">
    <mdui-tab value="tab-1">
      主网
      <mdui-badge slot="badge">3</mdui-badge>
    </mdui-tab>
    <mdui-tab value="tab-2">铂处理</mdui-tab>
    <mdui-tab value="tab-3">马铃薯伺服器</mdui-tab>
    <mdui-tab value="tab-4">其他</mdui-tab>
    <mdui-tab value="tab-5">其他2</mdui-tab>
    <mdui-tab value="tab-6">其他3</mdui-tab>
    <mdui-tab value="tab-7">其他4</mdui-tab>
    <mdui-tab value="tab-8">其他5</mdui-tab>
    <mdui-tab value="tab-9">其他6</mdui-tab>
  </mdui-tabs>

</div>