<div id="bot__content" class="panel-content" hidden>

  <div class="grid-full">
    <mdui-card class="card" variant="filled">
      <div style="display: flex;align-items: baseline;gap: 0.5rem;">
        <div style="font-size: x-large;"><b>Suika</b></div>
        <div style="opacity: 0.5;font-size: small;">308f3581-1e64-4d10-953a-39d1103c9ddb</div>
      </div>
      <div style="opacity: 0.75;">在线 - WebSocket</div>
    </mdui-card>
  </div>

  <mdui-tabs value="tab-1" placement="bottom-start" style="bottom: 0;left: 0;position: absolute;width: 100%;white-space: nowrap;">
    <mdui-tab value="tab-1">
      Suika
    </mdui-tab>
    <mdui-tab value="tab-2">
      Yugi
      <mdui-badge slot="badge">!</mdui-badge>
    </mdui-tab>
    <mdui-tab value="tab-3">
      Kasen
      <mdui-badge slot="badge">!</mdui-badge>
    </mdui-tab>
  </mdui-tabs>

</div>