<div id="debug__content" class="panel-content" hidden>
  <div class="grid-full">
    <mdui-card variant="filled" class="card">
      <code id="debug__log" class="language-css" style="white-space: pre-wrap;font-family: 'Consolas', monospace;"></code>
    </mdui-card>
  </div>
</div>