<div id="overview__content" class="panel-content">

  <mdui-card variant="filled" class="card">
    <div style="font-size: larger;">
      少女祈祷中...
    </div>
    <mdui-linear-progress></mdui-linear-progress>
  </mdui-card>

</div>