<mdui-card class="card" variant="filled">
  <div style="display: flex;align-items: center;gap: 0.5rem;">
    <mdui-icon name="grid_on--outlined" style="font-size: 2rem;"></mdui-icon>

    <div>
      <div style="font-size: larger;white-space: nowrap;"><b><%= name %></b></div>
    </div>

    <mdui-divider vertical style="margin-left: 0.5rem;margin-right: 0.5rem;"></mdui-divider>

    <div>
      <div style="opacity: 1;">数据更新 - 刚刚</div>
      <div style="opacity: 0.25;font-size: smaller;"><%= uuid %></div>
    </div>

  </div>

  <div style="display: flex;flex-direction: column;gap: 0.25rem;margin-top: 0.25rem;">
    <div style="display: flex;opacity: 0.75;gap: 0.5rem;">
      <mdui-icon name="schedule"></mdui-icon>
      <div>创建于 2021-08-15 12:00:00</div>
    </div>

    <div style="display: flex;opacity: 0.75;gap: 0.5rem;">
      <mdui-icon name="memory"></mdui-icon>
      <div>16/16 核心空闲</div>
    </div>

    <div style="display: flex;opacity: 0.75;gap: 0.5rem;">
      <mdui-icon name="category"></mdui-icon>
      <div>1/3 库存维持已达标</div>
    </div>
  </div>

  <div style="display: flex;align-items: center;gap: 0.5rem;margin-top: 0.5rem;">
    <mdui-chip elevated class="ae__button-view">
      查看
      <mdui-icon slot="icon" name="pageview"></mdui-icon>
    </mdui-chip>

    <mdui-chip elevated style="margin-right: auto;" class="ae__button-edit">
      编辑
      <mdui-icon slot="icon" name="edit"></mdui-icon>
    </mdui-chip>
  </div>

  <data hidden uuid="<%= uuid %>"></data>
</mdui-card>