<mdui-card variant="filled" class="card">

  <div style="display: flex;align-items: center;">
    <div style="font-size: x-large;"><b>大燃气轮机</b></div>
  </div>

  <div>
    我是简介！
  </div>

  <div style="display: flex;align-items: center;">
    <div style="opacity: 0.5;">红石信号：激活
    </div>
  </div>

  <mdui-switch></mdui-switch>

</mdui-card>