<mdui-card variant="filled" class="card-compact">

  <div style="display: flex;align-items: center;gap: 1rem;">
    <mdui-icon name='info'></mdui-icon>
    <div style="font-size: larger;"><b><%= title %></b></div>
    <mdui-button-icon icon='done' style="margin-left: auto;"></mdui-button-icon>
  </div>

  <div style="opacity: 0.5;"><%= content %></div>

</mdui-card>