<mdui-card variant="filled" class="card card-indicator-circular__card">
  <div class="card-indicator-circular__title" style="font-size: larger;font-weight: bold;margin-bottom: -0.5rem;">...</div>
  <div class="card-indicator-circular__value" style="opacity: 0.5;"></div>
  <div class="card-indicator-circular__indicator"></div>
  <div class="card-indicator-circular__bottom" style="opacity: 0.5;"></div>
  <data hidden uuid="<%- uuid %>" bottom="<%= bottom %>"></data>
</mdui-card>

<style>
  .card-indicator-circular__card {
    text-align: center;
  }
</style>