<mdui-card variant="filled" class="card card-indicator-bar__card">
  <div style="display: flex;align-items: baseline;">
    <div class="card-indicator-bar__title" style="font-size: larger;font-weight: bold;">...</div>
    <div class="card-indicator-bar__value" style="opacity: 0.5;margin-left: auto;"></div>
  </div>
  <mdui-linear-progress class="card-indicator-bar__indicator" value="0" max="100" style="height: 1rem;"></mdui-linear-progress>
  <div class="card-indicator-bar__percent" style="opacity: 0.5;"></div>
  <data hidden uuid="<%- uuid %>"></data>
</mdui-card>