<mdui-card variant="filled" class="card">
  <div style="font-size: larger;margin-bottom: 1rem;"><b>YOT 储罐 - 苯</b></div>
  <mdui-linear-progress value="0" max="100" style="height: 1rem;"></mdui-linear-progress>
  <div style="opacity: 0.4">0/1 KL</div>
</mdui-card>