<mdui-card variant="filled" class="card">

  <div style="display: flex;align-items: center;">
    <div style="font-size: larger;"><b>服务器状态</b></div>
    <div style="opacity: 0.5;">&nbsp;@&nbsp;</div>
    <div style="opacity: 0.5;"><%- target %></div>
  </div>

  <div style="display: flex;align-items: center;">
    <mdui-icon name="bolt"></mdui-icon>
    &nbsp;
    <div><b>运行正常</b></div>
    &nbsp;
    <div style="opacity: 0.5;">(0/1)</div>
  </div>

  <div style="display: flex;align-items: center;">
    <mdui-icon name="engineering"></mdui-icon>
    &nbsp;
    <div><b>在线员工：</b><span>Akyuu</span></div>
  </div>

  <div style="display: flex;align-items: center;">
    <div style="opacity: 0.25;font-size: smaller;">GT New Horizons
    </div>
  </div>

</mdui-card>