<mdui-card variant="filled" class="card card-server-status__card">

  <div style="display: flex;align-items: center;">
    <div style="font-size: larger;"><b>服务器状态</b></div>
    <div style="opacity: 0.5;">&nbsp;@&nbsp;</div>
    <div style="opacity: 0.5;" class="card-server-status__ip"></div>
  </div>

  <div style="display: flex;align-items: center;">
    <mdui-icon name="bolt"></mdui-icon>
    &nbsp;
    <div class="card-server-status__status" style="font-weight: bold;">运行正常</div>
    &nbsp;
    <div class="card-server-status__online-players" style="opacity: 0.5;">(0/1)</div>
  </div>

  <div style="display: flex;align-items: center;">
    <mdui-icon name="engineering"></mdui-icon>
    &nbsp;
    <div><b>在线员工：</b><span class="card-server-status__players-list">Akyuu</span></div>
  </div>

  <div style="display: flex;align-items: center;">
    <div class="card-server-status__motd" style="opacity: 0.25;font-size: smaller;">GT New Horizons
    </div>
  </div>

</mdui-card>